<div class="cla">
<h2> <strong> Mon entreprise </strong></h2>
<hr> 
<div class="modal-body">
    <form>
      <div class="form-group">
        <label for="passagePerson" class="form-label">
          <a> Siren </a> 
        </label>
  
          <input type="text" class="form-control" matInput id="searchMember" placeholder="Placeholder">
      </div>
      <div class="form-group">
        <label for="passagePerson" class="form-label">
          <a> Nom de l'entreprise </a>
        </label>
  
          <input type="text" class="form-control" matInput id="searchMember" placeholder="Placeholder">
      </div>
  
      <div class="form-group">
      <a> IMC </a> <br>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1"> A</mat-radio-button>
        <mat-radio-button value="2"> B</mat-radio-button>
        <mat-radio-button value="2"> C</mat-radio-button>
        <mat-radio-button value="2"> D</mat-radio-button>
      </mat-radio-group>
    </div>
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a> Secteur </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="Rechercher">
  
      </div>
  
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a> Type de produits ou services </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="Rechercher">
  
      </div>
  
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a> Rayonnement </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="Rechercher">
  
      </div>
  
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a>  Nombre de salariés </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="Placeholder">
  
      </div>
  
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a> Chiffre d'affaires </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="Placeholder">
        
      </div>
  
      <div class="form-group">
        <label for="taskAsignedTo" class="form-label">
        <a> Objectif de croissance </a>
        </label>
  
        <input type="text" class="form-control" matInput id="searchUser" placeholder="10%">
        
      </div>
    </form>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-submit px-4 py-2">
      Créer mon dashboard
    </button>
  </div>
</div>

<a class="nav-link" [routerLink]="['/action']">action</a>
<a class="nav-link" [routerLink]="['/actionO']">actionO</a>
<a class="nav-link" [routerLink]="['/actionV']">actionV</a>
