h2 {
    padding-top: 50px;
    padding-left: 150px;
}
 a{
    font-family: 'Inter', sans-serif;
 }
hr {
    width:76%;
}
 button{
    padding-left: 60px;
    background-color: green;
    color: aliceblue;
    align-content: space-between;
 }
.modal-body{
    width: 500px;
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    padding-left: 150px;
}

.footer{
    padding-top: 650px;
    padding-left: 500px;
}

.cla{
    padding-bottom: 40px;
}

.fit {
    width: 150px;
    padding-bottom: 11px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    color: green;
  }